<div
	class="pointer-events-none fixed top-0 left-0 h-full w-full opacity-[0.05] dark:opacity-[0.08]"
	style="background-image: radial-gradient(var(--color-text) 1px, transparent 1px); background-size: 32px 32px;"
	aria-hidden="true"
>
</div>
